.Navbar-title {
  text-decoration: none;
}

.Navbar-element {
  text-decoration: none !important;
  color: grey !important;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.Navbar-element :after,
.Navbar-element :hover,
.Navbar-element :active {
  color: white !important;
}

.Navbar-element h4 {
  font-size: 16px;
  font-weight: 400;
}

.Navbar-btn {
  width: 150px;
  height: 40px;
  margin-left: 2rem;
  margin-top: 0.5rem;
  transition: transform 0.2s ease-in-out !important;
}

.Navbar-btn:hover {
  transform: scale(1.1);
}

.hero-bg {
  background: linear-gradient(to right, #168ab7, #865b30, #5a3f75);
}

.herosection {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
}

.herosection h1 {
  /* width: 70%; */
  font-size: 60px;
}

.Section2 h2 {
  font-size: 40px;
}

.Section2 p {
  color: grey;
}

.start-btn {
  font-size: 12px !important;
  width: 10rem;
  background-color: rgb(111, 52, 142) !important;
  border: transparent !important;
  transition: transform 0.3s ease-in-out !important;
}

.start-btn:hover {
  transform: scale(1.1);
}

.future {
  background-color: #22212e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
}

.future h2 {
  font-size: 40px;
}

.future h4 {
  font-size: 18px;
  font-weight: 400;
}

.mockup {
  width: 900px;
}

.start {
  width: 480px;
}
.Section2 {
  background-color: white !important;
  margin-top: 3rem;
  padding: 1rem 10rem;
}
.footer-bg {
  background: linear-gradient(to right, #031820, #332615, #1e101d);
  display: block;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
  color: white;
}
.inner-footer {
  display: flex;
}
.copyright {
  font-size: 15px;
  font-weight: 200;
  color: grey;
  padding-right: 8rem;
}
.footer-social {
  display: flex !important;
  padding-left: 20rem !important;
  /* text-align: right !important; */
}

@media screen and (max-width: 786px) {
  .mockup {
    width: 400px;
  }
  .start {
    width: 100%;
  }
  .Section2 {
    background-color: white !important;
    margin-top: 1rem;
    padding: 1rem 2rem;
  }
  .start-btn {
    margin: 1rem;
  }
  .footer {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
    color: white;
  }
  .inner-footer {
    display: block;
  }
  .footer-social {
    padding-left: 10rem !important;
  }
}
